
$theme-colors: (
        "primary": #00cbc4,
        "danger": #ff4136
);
$primary: #00cbc4 !important;
$primary-bg: #2d3241;
$primary-bg-dark: #222737;
$light-grey: #e2e2e2;
$dark-grey: #d2d2d2;




