/* You can add global styles to this file, and also import other style files */
@import "_variables";
@import "~bootstrap/scss/bootstrap";

body, html, .container-fluid, .main-section
{
  min-height: calc(100vh - 48px);
}

.navbar {
  background-color: $primary-bg;

  .search-zone
  {
    background-color: $primary-bg-dark;

  }
  .search-field  {
    background: url('../assets/img/search-icon.png') $primary-bg 14px 14px no-repeat ;
    color: white;
    height: 45px;
    width: 100%;
  }
}
.left-menu {
  background-color: $primary-bg;
  position: relative;
  .top-section {
    background-color: lighten( $primary-bg, 10% );
    width: 100%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
    color: $gray-200;
  }
}

.right-side {
  background-color: $gray-200;
}


.main-section {
  padding-top: 30px;
  .answers {
    .answer {
      .date {
        margin-bottom: 10px;
      }
    }
  }
  .author {
    font-size: 1.2rem;
    img {
      border-radius: 20px;
      width: 25px;
      height: 25px;
      border: 2px solid $primary;
      vertical-align: -6px;
    }
  }
}

.e2e-inner-html-bound {
  p {
    margin-bottom: 0;
  }
}

.form-group {
  &.has-error {
    .form-help-text {
      color: $red;
      font-size: 13px
    }
    .form-control {
      border-color: $red;
    }
  }
  &.has-success {
    .form-help-text {
      color: #8cde33;
      font-size: 13px
    }
  }
}


.category-tag {
  display: inline-block;
  background-color: $light-grey;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px 5px 0;
  font-size: 0.9rem;
  color: #737373;
  &:hover {
    text-decoration: none;
  }
  img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
    vertical-align: -5px;
  }
}

.pointer {
  cursor: pointer;
}

.modal-backdrop {
  z-index: 10;
}

@media (max-width: 992px) {
  .left-menu {
    display: none;
  }
  .main-section {
    padding-top: 10rem;
  }
  .navbar-brand {
    text-align: left;
  }
  .hello {
    color: $light-grey;
    a.dashed {
      cursor: pointer;
      border-bottom: 1px dashed $gray-500;
      color: $gray-500;
    }
  }
}
