<div *ngIf="category" class="w-100 text-center">
  <div  class="category mb-5 ">
    <img src="assets/img/{{category.slug}}.png" />
    <h3>{{category.name}}</h3>
    <span class="text-muted">{{questionsCount}} questions total</span>
  </div>
</div>


<section class="all-questions" >

  <div *ngIf="!isLoaded">
    <app-loader></app-loader>
  </div>
  <div *ngFor="let question of questions" class="question">
    <div class="d-flex">
      <a class="views mr-3 d-block" [class.inactive]="question.answers === 0" routerLink="/system/question/{{question.id}}" [queryParams]="{page: 1}">
        <img src="assets/img/icon-ok.png" class="align-baseline"><strong> {{ question.answers }}</strong>
        {{  pluralizeAnswers(question.answers) }}
      </a>
      <div class="text w-100">
        <h5 class="title"><a routerLink="/system/question/{{question.id}}" [queryParams]="{page: 1}">{{question.title}}</a></h5>
        <div class="description" class="e2e-inner-html-bound" [innerHTML]="question.text | appReadMore">
        </div>
        <a *ngIf="question.text.length > 400" class="d-inline-block w-100" routerLink="/system/question/{{question.id}}" [queryParams]="{page: 1}">Read More</a>
        <div class="author float-right">
          Asked {{question.date | date:'medium'}} <a routerLink="/system/author/{{question.author.id}}" class="d-inline-block ml-2"><img src="{{question.author.avatarUrl}}"></a> <a routerLink="/system/author/{{question.author.slug}}" class="author">{{question.author.name}}</a>
        </div>
      </div>
    </div>
    <app-categories [question]="question.id"></app-categories>
    <hr>
  </div>
</section>

<app-paginator [pages]="pages"></app-paginator>
