img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
  vertical-align: -5px;
}

.close {
  line-height: 0.75;
  margin-left: 0.5rem;
}

.dropdown-item {
  cursor: pointer;
}
