<!--<app-header [hasNewQuestionButton]="isLoggedIn"></app-header>-->
<app-header></app-header>
<div class="container-fluid pt-5 h-100">
    <div class="row">
        <div class="col-lg-2 hidden-md-down left-menu p-0 pt-2">
            <div class="top-section p-3 m-0 position-fixed">
                <!--<app-login (loginEmitter)="updateLoginStatus($event)" ></app-login>-->
                <app-login *ngIf="innerWidth > 992"></app-login>
            </div>
        </div>
        <div class="col-lg-7 main-section">
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-3 pt-3 right-side ">
            <aside class="popular-questions position-fixed w-100">
                <app-most-active-authors></app-most-active-authors>
            </aside>
        </div>
    </div>
</div>
<div class="bottom-section  fixed-bottom p-2">
  <app-categories></app-categories>
</div>
<app-footer>
</app-footer>
